.auth-wrapper {
  min-height: 100vh;
  background: linear-gradient(120deg, #1e3c72, #2a5298);
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-card {
  background: white;
  padding: 35px;
  width: 350px;
  border-radius: 12px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.auth-card h2 {
  margin-bottom: 8px;
}

.subtitle {
  color: gray;
  margin-bottom: 20px;
}

.auth-card input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.auth-card button {
  width: 100%;
  padding: 12px;
  border: none;
  background: #1e3c72;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

.auth-card button:hover {
  background: #16325c;
}

.switch {
  margin-top: 15px;
  font-size: 14px;
}

.switch a {
  color: #1e3c72;
  text-decoration: none;
}

/* Animations */
.fade-in {
  animation: fadeIn 0.6s ease-in;
}

.slide-up {
  animation: slideUp 0.6s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@media (max-width: 400px) {
  .auth-card {
    width: 90%;
    padding: 25px;
  }
}