.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: rgb(62, 73, 88);
}

.logo {
  color: white;
}

.nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

.nav a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.nav a:hover {
  color: orange;
}
